.image-container {
    display: flex;
    overflow: hidden;
    justify-self: center;
}
.round {
    border-radius: var(--border-radius-default);
}
.flat {
    border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;
}
.square {
    border-radius: 0;
}
.circle {
    border-radius: 50%;
}
.image-container img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
